<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
</head>

<body>
  <div class="bg1" class="col12 col-md-4">
    <!--Nav bar-->
    <nav class="navbar navbar-expand-lg navbar-light  bg-black">
      <a class="navbar-brand" href="#"><img src="https://www.siddharthamahila.ac.in/images/sdm_logo.jpg" alt="sdm_logo"
          width="102%"></a>
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="abt">
      <div class="word">
        <h1 class="clg">About the College :</h1>
        <div class="w">
          <l class="points">"A Quality Education has the power to transform societies in a single generation, by
            providing students knowledge, necessary skill and confidence to reach their full potential The establishment
            of Siddhartha Academy of General and Technical Education in 1975 miraculously transformed Vijayawada which
            was hitherto" educational Sahara into an educational Niagara. Siddhartha Academy constitutes a highly
            motivated team of professionals with a common Vision and clear perception about the dynamic change to be
            brought in the field of education. In its fruitful journey of 44 long years, the Academy established 18
            educational institutions to its credit The members of the Academy strongly believe that ‘‘There is no
            greater pillar of stability than a strong, free and educated woman’’.</l>
        </div>
        <div class="w">
          <l class="points">Hence the Academy started Sri Durga Malleswara Siddhartha Mahila Kalasala-Degree College in
            the year 1983, with an objective to provide quality education in general, promoting women education in
            particular and to empower young women into holistic personalities with multiple skills, resourcefulness and
            human values. The motto ‘‘Aatma Depobhava’’ is the guiding principle behind all the activities undertaken in
            the college to produce wholesome personalities from socially and economically disadvantaged sections of
            urban and rural Krishna district.</l>
        </div>
        <div class="w">
          <l class="points">The college is spread over an area of 8.22 acres . It is located at the heart of the city
            and is within a stone’s throw to the main road. The college is situated in a pollution free residential
            area. The college is a four storied U-shaped building with 62 classrooms, well-stacked library,
            laboratories, Departments, Administrative Office, Physical Fitness Center, a Seminar hall, and a webinar
            hall with a seating capacity of 400 people each, Audio- visual teaching room, a huge indoor stadium, two
            hostels, vast play grounds and a beautiful garden. The college is provided with all necessary amenities like
            canteen, water coolers, exhaust fans, elevators and separate vehicle parking for staff and students to cater
            to their needs.</l>
        </div>
        <div class="w">
          <l class="points">The college is spread over an area of 8.22 acres . It is located at the heart of the city
            and is within a stone’s throw to the main road. The college is situated in a pollution free residential
            area. The college is a four storied U-shaped building with 62 classrooms, well-stacked library,
            laboratories, Departments, Administrative Office, Physical Fitness Center, a Seminar hall, and a webinar
            hall with a seating capacity of 400 people each, Audio- visual teaching room, a huge indoor stadium, two
            hostels, vast play grounds and a beautiful garden. The college is provided with all necessary amenities like
            canteen, water coolers, exhaust fans, elevators and separate vehicle parking for staff and students to cater
            to their needs.The college was re-accredited at ‘A’ level in 2013 much to the commendation of academicians
            and its philanthropic Management for setting up an excellent academic tradition and discipline in the
            premises. With systematic planning and execution of academic, co-curricular activities and personality
            development programmes students are empowered with values, job skills, communication skills and soft skills
            which transform them into integrated women committed to excellence, competence and service mindedness. </l>
        </div>
      </div>
    </div>
    <!--cards-->
    <div class="pics">
      <div class="d-flex flex-row justify-content-center">
        <img src="http://siddharthamahila.ac.in/admin/admin/uploads/G3P.jpg" class="img6" />
        <img src="http://siddharthamahila.ac.in/admin/admin/uploads/G5P.jpg" class="img6" />
        <img src="http://siddharthamahila.ac.in/admin/admin/uploads/G24P.jpg" class="img6" />
        <img src="http://siddharthamahila.ac.in/admin/admin/uploads/G18P.jpg" class="img6" />
        <img src="http://siddharthamahila.ac.in/admin/admin/uploads/G23P.jpg" class="img6" />
      </div>
    </div>
    <div class="pics">
      <div class="d-flex flex-row justify-content-center">
        <img src="http://siddharthamahila.ac.in/admin/admin/uploads/G27P.jpg" class="img6" />
        <img src="http://siddharthamahila.ac.in/admin/admin/uploads/G30P.jpg" class="img6" />
        <img src="http://siddharthamahila.ac.in/admin/admin/uploads/G13P.jpg" class="img6" />
        <img src="http://siddharthamahila.ac.in/admin/admin/uploads/G12P.jpg" class="img6" />
      </div>
    </div>
    <div class="pics">
      <div class="d-flex flex-row justify-content-center">
        <img src="http://siddharthamahila.ac.in/admin/admin/uploads/G11P.jpg" class="img6" />
        <img src="http://siddharthamahila.ac.in/admin/admin/uploads/G10P.jpg" class="img6" />

      </div>
    </div>
    <div class="clickme">
      <a href="{{url_for('home')}}"><button class="btn btn-primary">BACK</button></a>
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"></script>
</body>

</html>