<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/010e71e20a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
    <script type="text/javascript">
        function validateUser() {
            var username = document.getElementById("username").value;
            var usernameCheck = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[@#%?&*-+ ]).{8}$/
            var nameError = document.getElementById("name-error");

            if (username.length == 0) {
                nameError.innerHTML = "Please enter your username";
                return false;
            }
            if (!username.match(usernameCheck)) {
                nameError.innerHTML = "Username must carries 8 letters,Capital letters ,Special characters and numbers";
                return false;
            }
            nameError.innerHTML = " "
            return true
        }
        function validateNum() {
            var password = document.getElementById("password").value;
            var passwordCheck = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[@#%?&*-+ ]).{10}$/
            var passwordError = document.getElementById("password-error");

            if (password.length == 0) {
                passwordError.innerHTML = "Please enter your password";
                return false;
            }

            if (!password.match(passwordCheck)) {
                passwordError.innerHTML = "Password must carries 10 Characters,Capital letters ,Special characters and numbers ";
                return false;
            }
            passwordError.innerHTML = " "
            return true
        }
        function validateForms() {
            var submitError = document.getElementById("subit-error");

            if (!validateUser() || !validateNum()) {
                submitError.innerHTML = "Please fix error to submit";
                return false;
            }
            alert("Your login is Successful")
            return true
        }
    </script>
</head>

<body>
    <div class="bgimg4">
        <!--Nav bar-->


        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="#" id="naav"><img
                    src="https://www.vidyavision.com/CollegeUploads/Logos/2020-29-7-15-57-09_sdmlogo.jpg" height="60vh"
                    width="60vh"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link active" href="{{url_for('home')}}" id="naav">HOME<span
                            class="sr-only">(current)</span></a>

                    <a class="nav-link" href="{{url_for('signin')}}" id="naav">CREATE USER</a>
                </div>
            </div>
        </nav>


        <!--Block session-->
        <div class="block">
            <div class="layout d-flex flex-row justify-content-center ">
                <div class="container">
                    <div class="column">
                        <h1 class="heading1">ADMIN LOGIN</h1>
                        <form method="POST">
                            <div class="forms">
                                <l class="use"><a href="#"> <i class="fa-regular fa-user"> </i> </l><input type="text"
                                    id="username" name="userName" placeholder="Type your username"
                                    onkeyup="validateUser()" /></a>
                            </div>
                            <div class="forms">
                                <span id="name-error"></span>
                            </div>

                            <div class="forms">
                                <l class="lock"><a href="#"> <i class="fa-sharp fa-solid fa-lock"></i> </l><input
                                    type="password" id="password" name="password" placeholder="Type your password"
                                    onkeyup="validateNum()" />
                            </div>
                            <div class="forms">
                                <span id="password-error"></span>
                            </div><br>
                            <div class="forms">
                                <button class="btn btn-primary" onkeyup="validateForms()">LOGIN</button>
                            </div>
                            <div class="forms">
                                <span id="subit-error"></span>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>